*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}
/* partie hearder */
header
{
    background-image: url(slider-1-1920x1080.jpg);
    /* width: 100%; */
    height: 500px;
    background-size: cover;
}
header .backg-orang{
    display: flex;
    flex-wrap: wrap;
    background-color: orange;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin: auto;
    height: 100px;
    padding: 15px;
    border-radius: 5px;
    
   
}

header .backg-orang .sarah-drive{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    
}
header .backg-orang .tel{
    display: flex;
    /* justify-content: center;
    align-items: center; */
}
header .backg-orang .message{
    display: flex;
    /* justify-content: center;
    align-items: center; */
}
header .backg-orang .text, .icon{
    color: white;
    font-weight: 700;
    
}
header .backg-orang .icon{
    font-size: 30px;
}
header .backg-orang .text{
    margin-left: 16px;
}

section .nom P{
        color: orange;
}
section .adresse {
    margin-top: 20px;
}

section .adresse p{
    margin-top: 10px;
}
section .adresse span{
    font-weight: bold;
   
}
header .button-tele {
    margin-top: 15px;
    margin-right: 40px;
    padding: 10px;
    background-color: orange;
    float: right;
    border-radius: 5px;
}
header .button-tele a{
    color: white;
}
header{
    position: relative;
}
@media screen and (max-width: 620px){
    header .backg-orang{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: orange;
        /* justify-content: space-evenly; */
        /* align-items: center; */
        /* width: 80%; */
        /* margin: auto; */
        height: 150px;
        /* padding: 15px; */
        border-radius: 5px;
        
       
    }
   
}

/* fin de la partie header */
 

section .lunette img{
   position: relative;
   bottom: 70px;
   border-radius: 100%;
   width: 150px;
   margin: auto;
}
section .backg-white{
    background-color: white;
    text-align: center;
    width: 700px;
    height: 500px;
    margin: auto;
    position: relative;
    bottom: 250px;
    z-index: 1;
}
section .backg-white .contenue-text{
    position: relative;
    
}

section .bx-icon i{
    background-color: rgb(54, 53, 53);
    padding: 10px;
    border-radius: 100%;
    margin-top: 15px;
    margin-left: 7px;
    color: white;
    font-size: 10px;
}
@media screen and (max-width: 620px){
    section .backg-white{
        background-color: white;
        text-align: center;
        width: 400px;
        height: 500px;
        margin: auto;
        position: relative;
        bottom: 250px;
        z-index: 1;
    }
}
/* section deux */
.deux progress{
    width: 50px;
    height: 10px;
    margin-left: 70px;
    margin-bottom: 30px;
    -webkit-appearance: none;
}
::-webkit-progress-bar{
    border-radius: 5px;
}

::-webkit-progress-value{
    background-color: orange;
   border-radius: 10px;
}

.deux .portfolio{
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr 2fr;
   

}
.deux .portfolio .work{
    margin-left: 70px;
    margin-top: -20px;
}
.deux .portfolio .work h2{
    font-size: 30px;

}
.deux .portfolio .work p{
    text-transform: uppercase;
    font-weight: 600;
}
.deux .list ul{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-top: 25px;
}
.deux .list ul .l1{
    color: orange;
}
.deux .list ul li{
    padding-left: 15px;
    text-transform: uppercase;
    font-weight: 600;
}
.deux .list ul li:hover{
    color: orange;
}
@media screen and (max-width: 620px){
    .deux progress{
        width: 50px;
        height: 10px;
        margin-left: 15px;
        margin-bottom: 30px;
        -webkit-appearance: none;
    }
    .deux .portfolio{
        margin-top: 5px;
        display: grid;
        grid-template-columns: 1fr;
       
    
    }
    .deux .portfolio .work{
        margin-left: 15px;
        margin-top: -20px;
    }
}
.items-grids{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 300px);
    gap: 10px;
    /* grid-auto-flow: column; */
    /* grid-auto-flow: dense; */
    /* height: 100%; */
   
}
.items-grids .items-grid{
    width: 100%;
    height: 100%;
    /* position: relative; */
}
.items-grid img{
    /* position: absolute; */
    object-fit: cover;
    width: 100%;
    height: 100%;

}
.items-grids .items-grid-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
   
}
.items-grid-2 .grid-items{
    background-color: black;
    height: 100%;
    width: 100%;
    
}
.grid-items img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.image2{
    background-color: blueviolet;
    grid-column: 2/3;
    grid-row: 1/3;

}

.image7{
    grid-column: 1/2 ;
    grid-row: 3/5; 
}
.image10{
    grid-column: 3/4 ;
    grid-row: 3/5; 
}
@media screen and (max-width: 620px){
  .items-grids{
     grid-template-columns: 1fr;
     grid-template-rows: 600px;

   
}
  
}

/* fin de la deuxiem section */


/* partie main */

.main{
    margin-top: 140px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* display: flex;
    flex-wrap: wrap; */
    
   
}
.right{
    margin-left: 120px;
    font-size: 29px;
    line-height: 43px;
}
.right .work p{
    color: rgb(153, 153, 153);
}
.right progress{
    width: 50px;
    height: 10px;
    margin-bottom: 30px;
    -webkit-appearance: none;
}
::-webkit-progress-bar{
    border-radius: 5px;
}

::-webkit-progress-value{
    background-color: orange;
   border-radius: 10px;
}
@media screen and (max-width: 620px){
    .main{
        margin-top: 140px;
        /* display: grid; */
        /* grid-template-columns: 1fr 2fr; */
        display: flex;
        flex-wrap: wrap;
    }
    .right{
        /* margin-left: 120px; */
        font-size: 29px;
        line-height: 43px;
    }
    
}
.para{
    /* width: 700px; */
    font-size: 17px;
    line-height: 27px;
    font-family: "Poppins,"serif;
    font-weight: 400;
    color: rgb(119, 119, 119);
   margin-left: 70px;
}
.para .matiere{
    margin-top: 50px;
}
.matiere{
    display: flex;
    gap: 30px;
   
   
}
.row{
    margin-top: 30px;
    /* width: 80%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.row .col .skill{
    width: 150px;
    height: 150px;
    position: relative;
    display: grid;
    place-items: center;
    border-radius: 50%;
    box-shadow: 3px 3px 10px white;
}
.row .col:nth-child(1) .skill{
    background: conic-gradient(#ffba08 97%, transparent 0);
}
.row .col:nth-child(2) .skill{
    background: conic-gradient(#ffba08 78%, transparent 0);
}
.row .col:nth-child(3) .skill{
    background: conic-gradient(#ffba08 65%, transparent 0);
}
.row .col:nth-child(4) .skill{
    background: conic-gradient(#ffba08 97%, transparent 0);
}
.row .col .skill::before{
    content: '';
    position: absolute;
    width: 95%;
    height: 95%;
    background: white;
    border-radius: 50%;
    /* box-shadow: 5px 5px 10px white inset; */
}
.row .col .skill .content{
    color: black;
    position: absolute;
    font-size: 20px;
    text-align: center;
    /* user-select: none; */
}
.row .col .skill .content span{
    display: block;
    padding: 5px 0;
    letter-spacing: 2px;
}
@media screen and (max-width: 620px){
    .row{
        margin-top: 30px;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
    }
    .row .col .skill{
        width: 200px;
        height: 200px;
        position: relative;
        display: grid;
        place-items: center;
        border-radius: 50%;
        box-shadow: 3px 3px 10px white;
    }
}
.html{
   text-align: center;
    padding: 15px;
    background-color: aqua;
    border-radius: 100%;
}

.color-violer{
    background-color: rgb(133, 10, 133);
    margin-top: 140px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    color: white;
}
.left{
    margin-left: 15px;
}
.right .work h2{
    font-size: 25px;
}
.right .work p{
    font-size: 15px;
    margin-bottom: 30px;
}
.left h1{
    font-size: 23px;
}
.left .studio{
    color: orange;
    font-size: 15px;
    margin-bottom: 25px;
}
.left .march{
    margin-bottom: 30px;
}

.left ul{
    margin-top: 30px;
    margin-bottom: 30px;
}
.left ul li{
    margin-top: 10px;
}
.web h1{
    font-size: 23px;
    
}
.web .ds{
    color: orange;
    font-size: 15px;
    margin-bottom: 20px;
}
.web .april{
    margin-bottom: 30px;
}
.color-white .web h1{
    margin-top: 20px;
}
.color-white .web .april{
    font-size: 20px;
    color: gainsboro;
}
.color-white .left .march{
    font-size: 20px;
    color: gainsboro;
}

/* fin de la partie main */
@media screen and (max-width: 620px){
    .color-violer{
        background-color: rgb(133, 10, 133);
        margin-top: 140px;
        display: flex;
        flex-wrap: wrap;
    }
    .left h1{
        font-size: 20px;
    }
    .web h1{
        font-size: 15px;
        
    }
    .color-white .left .march{
        font-size: 12px;
        color: gainsboro;
    }
    .color-white .web .april{
        font-size: 12px;
        color: gainsboro;
    }
    
}

.color-white{
    margin-top: 140px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

@media screen and (max-width: 620px){
    .color-white{
        margin-top: 140px;
        display: flex;
        flex-wrap: wrap;
        text-align: justify;
    }
}

.suffre{
    background: url(slider-2-1920x600.jpg);
    background-size: cover;
    height: 250px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.suffre .coder{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
.suffre .coder span{
    font-size: 70px;
    color: white;
    margin: 10px;
    font-weight: 700;
}
.suffre .coder p{
    font-size: 20px;
    margin-right: 10px;
    color: white;
    font-weight: 700;
}

@media screen and (max-width: 620px){
    .suffre{
        display:flex;
        flex-direction: column;
        height: 350px;
    }

    .suffre .coder span{
        font-size: 50px;
    }
    .suffre .coder p{
        font-size: 10px;
        
    }
   
}

footer{
    background-color: blueviolet;
    font-size: 15px;
    height: 90px;
    text-align: center;
   
}
footer p{
    padding-top: 30px;
    color: rgb(56, 55, 55);
}